In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import svm, metrics

In [29]:
#엑셀파일 읽기
tmp = pd.read_excel("data/지역_위치별(주유소).xls")
data = tmp.dropna(how="any") #결측치가 있는 행 모두 삭제

In [30]:
price_data = data[["휘발유", "경유"]]
price_label = data[["고급휘발유"]]

train_data, test_data, train_label, test_label = \
train_test_split(price_data, price_label)

model = LinearRegression()

model.fit(train_data, train_label)  #학습

pre = model.predict(test_data)  #예측

#ac_score = metrics.accuracy_score(test_label, pre) 
# 진짜답, 예측값
#분류성능평가 --> 회귀에는 사용X
print(model.score(test_data, test_label))  #회귀성능평가/ 모두 예측답/결정계수

0.926878130258197

In [37]:
#"고급휘발유"열에 결측치가 존재하는 행만 꺼내기
#data = tmp[tmp["고급휘발유"].isnull()] 
#data = tmp.loc[tmp.고급휘발유.isnull()]
data2 = tmp.loc[tmp.고급휘발유.isnull(),("고급휘발유", "휘발유", "경유")]
print(data2.head())

    고급휘발유   휘발유    경유
0     NaN  1548  1345
3     NaN  1568  1365
5     NaN  1590  1390
6     NaN  1595  1380
12    NaN  1608  1397

In [38]:
data2["고급휘발유"] = model.predict(data2.loc[:,("휘발유", "경유")])
data2

           고급휘발유   휘발유    경유
0    1791.028558  1548  1345
3    1809.592510  1568  1365
5    1830.755805  1590  1390
6    1831.682054  1595  1380
12   1844.739220  1608  1397
..           ...   ...   ...
436  1909.336706  1688  1438
438  1958.847074  1728  1528
468  1844.739220  1608  1397
475  1909.336706  1688  1438
477  1958.847074  1728  1528

[98 rows x 3 columns]